<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="{% url 'home'%}">Shirin's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="{% url 'about'%}">About</a></div>
                <div><a href="{% url 'blog'%}">Blog</a></div>
                <div><a href="https://t.me/+nXuTdMB9Qss3OTYy">Telegram</a></div>
                <div><a href="https://github.com/AkramjonovaSh02">GitHub</a></div>
            </div>
        </div>
        <div class="row aboutme">
            <div class="col-12">
                <h1>About me</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12">
                <p>I am Akramjonova Shirin, a 16-year-old <b>Novice programmer</b> from Fergana, Uzbekistan.
                    <br>
                    <br>
            </div>
        </div>
        <div class="footer">
            <p> 2024 </p>
        </div>
    </div>
</body>
</html>